.header {
  width: 100%;
  display: flex;
  margin: 0px;
  justify-content: end;
  background-color: #00000045;
  position: fixed;
  z-index: 100;
  backdrop-filter: blur(5px);
}

.header-tabs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 50px;
  width: 400px;
}
.header-tab {
  cursor: pointer;
  width: 100px;
}

.header-tab:hover {
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.7));
}

.header-tab:hover {
  filter: drop-shadow(0px 0% 4px white);
}

.header-logo {
  width: 30px;
  height: 24px;
}

.header__logo-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-link {
  align-items: center;
}
.mobile-header {
  height: fit-content;
  position: fixed;
  top: 0;
  width: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-content: end;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: rgb(1, 6, 8, 0.6);
  z-index: 100;
  opacity: 1;
  backdrop-filter: blur(10px);
}

.hamburger-menu-image {
  width: 20px;
  height: 20px;
  margin-right: 5vw;
  cursor: pointer;
}
.hamburger-menu-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: black;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.mobile-header-tab {
  cursor: pointer;
  margin: 0px 0px 20px 0px;
}

.hamburger-menu-div.visible {
  animation: hamburger-menu-visible 1s 1 forwards;
}

.hamburger-menu-div.invisible {
  animation: hamburger-menu-invisible 1s 1 forwards;
}
@keyframes hamburger-menu-visible {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}

@keyframes hamburger-menu-invisible {
  0% {
    top: 0%;
  }
  100% {
    top: -100%;
  }
}

@media screen and (max-width: 740px) {
  .header {
    display: flex;
    margin: 0px;
    width: 100%;
    justify-content: space-between;
    background-color: #0e0e0e5c;
    position: fixed;
    z-index: 100;
  }
}
