.projects-div {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.project-info-div {
  display: flex;
  flex-direction: row;
}
.project-description {
  width: 80%;
  align-self: center;
}

.demo-link {
  color: white;
  text-decoration: none;
  margin-left: 10px;
  animation: pulsing-animation 3s infinite ease-out;
}

@keyframes pulsing-animation {
  0% {
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.7));
  }
  50% {
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.7));
  }
  100% {
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 0.7));
  }
}
.projects-section {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.projects-page-title {
  font-size: 2rem;
  margin-bottom: 20px;
}
.project-image {
  width: 800px;
  box-shadow: 1px 1px 5px rgba(54, 54, 54, 0.8);
}
.project-image-div {
  width: 800px;
}

.projects-buttons-div {
  display: flex;
  flex-direction: column;
  height: 40%;
  justify-content: space-between;
}

.project-button {
  background-color: transparent;
  color: white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), inset 0 0 1px rgba(255, 255, 255, 0.5);
  font-size: 1rem;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 30px;

  margin: 10px 0px 10px 0px;
  transition: box-shadow 0.5s;
}

.project-button:hover {
  box-shadow: 0 0 5px #ffffff, inset 0 0 5px #ffffff;
  cursor: pointer;
}
@media screen and (max-width: 740px) {
  .projects-div {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .project-image {
    width: 400px;
    box-shadow: 1px 1px 5px rgba(54, 54, 54, 0.8);
  }
  .projects-buttons-div {
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: space-between;
  }
  .project-image-div {
    width: 400px;
  }

  .project-button {
    margin: 10px 0px 10px 0px;
  }

  .project-description {
    font-size: 0.8rem;
  }

  .project-info-div {
    flex-direction: column;
  }
  .projects-page-title {
    font-size: 2rem;
    margin-bottom: 100px;
  }
}
